<launch>
  <arg name="param_file" value="$(find vino_launch)/param/pipeline_people_myriad.yaml" />
  <arg name="default_rviz" value="$(find vino_launch)/param/rviz/default.rviz" />

  <node pkg="vino_sample" type="pipeline_with_params"
        name="pipeline_with_params_people" output="screen">
        <param name="param_file" value="$(arg param_file)" />   
        <remap from ="/openvino_toolkit/faces" to = "/2ros_openvino_toolkit/face_detection" />
        <remap from ="/openvino_toolkit/emotions" to = "/2ros_openvino_toolkit/emotions_recognition" />
        <remap from ="/openvino_toolkit/headposes" to = "/2ros_openvino_toolkit/headposes_estimation" />
        <remap from ="/openvino_toolkit/age_genders" to = "/2ros_openvino_toolkit/age_genders_Recognition" />
        <remap from ="/openvino_toolkit/images" to = "/ros_openvino_toolkit/image_rviz" />
        <remap from ="/camera/color/image_raw" to = "/resize/camera/color/image_raw" />
  </node>

</launch>
